body{
    width: 90%;
    margin: 15px auto;
   
}
header{
    clear: both;
    height: 50px;
    border: 1px solid black;

}
section{
    width: 60%;
    height: 400px;
    border-right: 1px solid #ef9c00;
     border-left: 1px solid #ef9c00;
    float: left;
}
aside{
    width: 39;
     height: 400px;
    float: right: 0;;
    border-right: 1px solid black;
}
footer{
    clear: both;
    height: 50px;
    border: 1px solid black;
}
.div{

    width: 100%
    padding: 2px;
    text-align: justify;

    column-rule: 2px solid black;   

    column-count: 2;
    column-gap: 50px;
    overflow: scroll;
}
#box1, #box2, #box3, #box4{
    width: 200px;
    height: 200px;
    background: red;
    
}
#box1{
      top: 80px;
    left: 60px;
    position: absolute;
     
}
#box2{
      top: 90px;
    left: 30px;
    position: fixed;
 background: black;
}
#box3{
    position: initial;
background: blue;

}
#box4{
    position:static;
background: green;
top: 50px;
    left: 50px;

}